Config(
    drone_acceleration: 20.0,
    drone_deceleration: 10.0,
    drone_max_speed: 20.0,
    drone_reach: 0.5,

    action_duration: {
        CutPlant: 3.0,
        Collect: 2.0,
        PlaceTile: 2.0,
        KillBug: 2.5,
    },

    rock_frequency: 0.05,
    water_frequency: 0.08,
    water_lifetime: 10.0,
    poop_lifetime: 10.0,

    bug_frequency: 0.05,
    bug_hunger: 5,
    bug_eat_time: 1.0,
    bug_poop_time: 3.0,
    bug_chill_time: 10.0,
    bug_move_time: 5.0,

    light_radius: 11,
    drainer_radius: 4,
    cutter_radius: 1,
    cutter_cooldown: 60,

    animations: (
        tile_spawn: 0.75,
    ),

    plants: {
        TypeA: (
            growth_time: 3.0,
            growth_time_dark: 10.0,
            max_size: 15,
            price: 3,
        ),
        TypeB: (
            growth_time: 5.0,
            growth_time_dark: 12.0,
            max_size: 15,
            price: 10,
        ),
        TypeC: (
            growth_time: 15.0,
            growth_time_dark: 35.0,
            max_size: 6,
            price: 50,
        ),
        TypeD: (
            growth_time: 10.0,
            growth_time_dark: 25.0,
            max_size: 25,
            price: 30,
        ),
    },

    shop: [
        (
            price: 10,
            unlocked_at: 0,
            tile: Seed(TypeA),
        ),
        (
            price: 10,
            unlocked_at: 0,
            tile: Wire(false),
        ),
        (
            price: 30,
            unlocked_at: 0,
            tile: Soil(Dry),
        ),
        (
            price: 60,
            unlocked_at: 60,
            tile: Seed(TypeB),
        ),
        (
            price: 50,
            unlocked_at: 30,
            tile: Light(false),
        ),
        (
            price: 300,
            unlocked_at: 400,
            tile: Drainer,
        ),
        (
            price: 200,
            unlocked_at: 200,
            tile: Seed(TypeC),
        ),
        (
            price: 160,
            unlocked_at: 200,
            tile: Cutter(()),
        ),
        (
            price: 50,
            unlocked_at: 400,
            tile: Pipe(false),
        ),
        (
            price: 500,
            unlocked_at: 500,
            tile: Seed(TypeD),
        ),
        (
            price: 3000,
            unlocked_at: 5000,
            tile: Power,
        ),
        (
            price: 1000,
            unlocked_at: 1000,
            tile: Sprinkler(false),
        ),
    ],
)
