Config(
    drone_acceleration: 20.0,
    drone_deceleration: 10.0,
    drone_max_speed: 20.0,
    drone_reach: 0.5,

    seed_grow_only_up: true,

    action_duration: {
        CutPlant: 3.0,
        Collect: 1.0,
        PlaceTile: 0.5,
        KillBug: 3,
    },

    bug_population: 15, // Max number of bugs on the map

    rock_frequency: 0.05,
    water_frequency: 0.04,
    water_lifetime: 10.0,
    poop_lifetime: 30.0,

    bug_frequency: 0.05,
    bug_hunger: 5,
    bug_eat_time: 1.0,
    bug_poop_time: 3.0,
    bug_chill_time: 10.0,
    bug_move_time: 5.0,
    bug_vision_radius: 7,

    light_radius: 8,
    drainer_radius: 5,
    cutter_cut_time: 3.0,

    animations: (
        tile_spawn: 0.75,
        tile_despawn: 1.2,
        bug_move: 0.4,
    ),

    plants: {
        TypeA: (
            growth_time: 3.0,
            growth_time_dark: 10.0,
            max_size: 10,
            price: 3,
            growth_capacity: 20, // How many leaves grow when fully charged from soil before needing recharge
            soils: {
                Soil(Dry): (
                    growth_speed: 1.0, // Growth speed multiplier
                    capacity: 10, // How many leaves grow from a single soil
                ),
                Soil(Watered): (
                    growth_speed: 1.5,
                    capacity: 10,
                ),
                Soil(Rich): (
                    growth_speed: 2.0,
                    capacity: 10,
                ),
            },
        ),
        TypeB: (
            growth_time: 8.0,
            growth_time_dark: 16.0,
            max_size: 8,
            price: 10,
            growth_capacity: 16,
            soils: {
                Soil(Watered): (
                    growth_speed: 1.0,
                    capacity: 8,
                ),
                Soil(Rich): (
                    growth_speed: 2.0,
                    capacity: 8,
                ),
            },
        ),
        TypeC: (
            growth_time: 15.0,
            growth_time_dark: 35.0,
            max_size: 6,
            price: 50,
            growth_capacity: 18,
            soils: {
                Water(()): (
                    growth_speed: 1.0,
                    capacity: 6,
                ),
            },
        ),
        TypeD: (
            growth_time: 10.0,
            growth_time_dark: 25.0,
            max_size: 25,
            price: 30,
            growth_capacity: 50,
            soils: {
                Soil(Rich): (
                    growth_speed: 1.0,
                    capacity: 25,
                ),
            },
        ),
    },

    shop: [
        (
            price: 10,
            unlocked_at: 0,
            tile: Seed(TypeA),
        ),
        (
            price: 10,
            unlocked_at: 0,
            tile: Wire(false),
        ),
        (
            price: 20,
            unlocked_at: 0,
            tile: Soil(Dry),
        ),
        (
            price: 60,
            unlocked_at: 60,
            tile: Seed(TypeB),
        ),
        (
            price: 50,
            unlocked_at: 50,
            tile: Light(false),
        ),
        (
            price: 100,
            unlocked_at: 100,
            tile: Drainer,
        ),
        (
            price: 200,
            unlocked_at: 200,
            tile: Seed(TypeC),
        ),
        (
            price: 160,
            unlocked_at: 160,
            tile: Cutter(()),
        ),
        (
            price: 50,
            unlocked_at: 300,
            tile: Pipe(false),
        ),
        (
            price: 500,
            unlocked_at: 500,
            tile: Seed(TypeD),
        ),
        (
            price: 1500,
            unlocked_at: 1500,
            tile: Power,
        ),
        (
            price: 600,
            unlocked_at: 600,
            tile: Sprinkler(false),
        ),
    ],
)
